.form-card{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 30%;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-card input{
    height: 20px;
    padding: 10px;
}